<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<nav class="navbar navbar-light  fixed">
    <div class="container">
      <span class="navbar-brand mb-0 h1">APPLE</span>
    </div>
  </nav>